* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  background: #fb5;
  grid-column: 3 / 5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
}

.titulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 40px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais h2 {
  margin-bottom: 1rem;
  color: #e54;
}

.animais p {
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 5px;
}

.animais-lista::-webkit-scrollbar-thumb {
}

.animais-lista::-webkit-scrollbar-track {
}
